.game-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
  }

main {
    flex: 1 0 auto; 
}

body {
    background: url("../images/countriesbackground.jpg");
    display: flex; 
    flex-direction: column;
    font-family: "Oswald", sans-serif;
}

.card {
    margin-top: 20px; 
    opacity: .8;
}